*{
    background-color:var(--light);
    color:rgb(116, 94, 116);
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
:root{
    --under:underline lime;
    --fix:fixed;
    --light:lightblue;
    --mid:black;
    --hype:blueviolet;

}
header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--mid);

}
header h1{
   font-size: xx-large;
   background-color:var(--mid);
   color:gold;
   

}
header h2{
    font: size 75%; 
    background-color:var(--mid);
    color: gold;
}
.propic {

}
.nav { 
    background-color:var(--mid);

}
.nav ul,li,a  {
display: flex;
flex-direction: row;
background-color:var(--mid);
text-decoration:var(--under);
margin: 2%;
color:var(--hype);
}
h1 {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--light);
    color: gold;
 }
 h2 {
font-size: large;
display: inline-flex;
background-color: var(--light);
 }

 h3 {
font-size: medium;
background-color:var(--light);
 }
p {
    font-size: small;
 background-color: var(--light);
}
section {
    display: inline-flex;
    flex-direction: row;
    padding: 2%;
    margin: 2%;
    background-color: var(--light);}

.work {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    height: 650px;
    background-color:var(--light);
    border: 2%;
}
.work a {
    background-color: var(--light);
    color:var(--hype);
}
.education {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    height: 650px;
    background-color:var(--light);
    border: 2%;
 }
 .education a {
background-color: var(--light);
 color:var(--hype);
 }
 .about {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    height: 650px;
    background-color:var(--light);
    border: 2%;
 }
 .about a {
    background-color: var(--light);
 color:var(--hype);
  }
  .contact {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 1%;
    padding: 20px;
    height: 50px;
    background-color:var(--light);
    border: 2%;
  }
 .contact section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 2%;
    background-color: var(--light);
}

.contact p{
display:inline-flex;
flex-direction: row;
align-items: center;
font-size: small;
background-color: var(--light);

}
.contact a {
    background-color: var(--light);
 color:var(--hype);
}

footer p{
position: absolute; bottom: 2%;
}
